<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="isswatcher.manuelweb.at">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.Material.Light">

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyB1ifwaDk-sgWAWkbVKSiyamy0_9ugViH0"/>

        <activity
            android:name=".CurrentLocationActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/current_location_activity_title"
            android:screenOrientation="portrait"
            android:theme="@style/FullscreenTheme"></activity>
        <activity
            android:name=".ObservationsActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/observations_activity_title"
            android:screenOrientation="portrait"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".AddEditObservationActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/add_edit_observation_activity_title"
            android:screenOrientation="portrait"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".MapActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/map_activity_title"
            android:screenOrientation="portrait"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".LaunchActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/FullscreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>